.breadcrumbs-container {
  display: grid;
  grid-template-columns: auto max-content;
  grid-gap: 15px;
  align-items: center;
  border-bottom: solid 1px #ddd;

  .breadcrumbs-nav {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    //grid-gap: 10px;

    .breadcrumb-item {
      //padding: 0.5rem;

      a, span{
        padding: 0.75rem 0.25rem;
        display: inline-block;
        cursor: pointer;
        user-select: none;
      }

      &:not(:last-child):after {
        content: ">";
        padding: 5px;
      }
    }
  }

  .breadcrumbs-actions {
    text-align: right;
  }
}
